<!DOCTYPE html>
<html lang="en">

<head>
    <title>登录</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="__PUBLIC__/YM/css/bootstrap.min.css">
    <script src="__PUBLIC__/YM/js/jquery.min.js"></script>
    <script src="__PUBLIC__/YM/js/popper.min.js"></script>
    <script src="__PUBLIC__/YM/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="__PUBLIC__/css/LoginZhuce.css">
</head>

<body>
    <div class="Dbg">
        <img class="bbbg" src="__PUBLIC__/YM/farm/bbg.jpg" alt="">
        <div class="orchard Looo">
            <p class="nav-bar">
                <img class="back" src="__PUBLIC__/YM/fontimg/back2.png" alt=""> 登录
            </p>
            <div class="Logpass">
                <div class="Logimg">
                    <img src="__PUBLIC__/YM/farm/ddl.png" alt="">
                </div>
                <div>
                    <form action="" id="Logpasss">
                        <p>
                            <img src="__PUBLIC__/YM/farm/q2.png">
                            <input name="phone" type="text" placeholder="请输入手机号" required>
                        </p>
                        <p>
                            <img src="__PUBLIC__/YM/farm/q2.png">
                            <input name="pass" type="password" placeholder="请输入登录密码" required>
                        </p>
                        <p class="LLogin">
                            <img class="btn-login" src="__PUBLIC__/YM/farm/login.png" alt="">
                            <a href="__MODULE__/Login/register">
                                <img class="btn-zhuce" src="__PUBLIC__/YM/farm/zzz.png" alt="">
                            </a>
                        </p>
                    </form>
                </div>
                <div style="display: none;position: absolute;left: 20%;" class="Logishi">
                    123
                </div>
            </div>
        </div>
    </div>
</body>
<script src="__PUBLIC__/js/LoginZhuce.js"></script>
<script src="__PUBLIC__/js/backone.js"></script>

</html>