<!DOCTYPE html>
<html lang="en">

<head>
    <title>注册</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="__PUBLIC__/YM/css/bootstrap.min.css">
    <script src="__PUBLIC__/YM/js/jquery.min.js"></script>
    <script src="__PUBLIC__/YM/js/popper.min.js"></script>
    <script src="__PUBLIC__/YM/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="__PUBLIC__/css/LoginZhuce.css">
</head>

<body>
    <div class="Dbg">
        <img class="bbbg" src="__PUBLIC__/YM/farm/bbg.jpg" alt="">
        <div class="orchard Looo">
            <p class="nav-bar">
                <img class="back" src="__PUBLIC__/YM/fontimg/back2.png" alt=""> 注册
            </p>
            <div class="Register">
                <div class="Logimg">
                    <img src="__PUBLIC__/YM/farm/vip.png" alt="">
                    <form action="" id="Registers">
                        <p>
                            <img src="__PUBLIC__/YM/farm/q4.png" alt="">
                            <input name="phone" type="text" placeholder="请输入手机号" required>
                        </p>
                        <p>
                            <img src="__PUBLIC__/YM/farm/q2.png" alt="">
                            <input name="yanzheng" type="text" placeholder="请输入验证码" required>
                            <span class="getPhone">获取验证码</span>
                            <span class="getPhones">60 后获取</span>
                        </p>
                        <p>
                            <img src="__PUBLIC__/YM/farm/q4.png" alt="">
                            <input name="Tphone" type="text" value="{$telphone}" placeholder="请输入推荐人手机号" required>
                        </p>
                        <p>
                            <img src="__PUBLIC__/YM/farm/q5.png" alt="">
                            <input name="password" type="password" placeholder="请输入10位数字或者字母" required>
                        </p>
                        <p>
                            <img src="__PUBLIC__/YM/farm/q5.png" alt="">
                            <input name="passwordtwo" type="password" placeholder="请再输入密码" required>
                        </p>
                        <span>
                            <img class="btn_regist" src="__PUBLIC__/YM/farm/zzz.png" alt="">
                        </span>
                    </form>
                </div>
                <div class="tishi">
                    123
                </div>
            </div>
        </div>
    </div>
</body>
<script src="__PUBLIC__/js/LoginZhuce.js"></script>
<script src="__PUBLIC__/js/backone.js"></script>
<!--<script src="http://hovertree.com/texiao/bootstrap/4/js/city-picker.data.js"></script>-->
<!--<script src="http://hovertree.com/texiao/bootstrap/4/js/city-picker.js"></script>-->
</html>