<extend name="Layout/menu"/>
<block name="content">
<!--sidebar-menu-->
<div id="content">
  <div id="content-header">
    <div id="breadcrumb">
      <a href="#" class="tip-bottom" data-original-title="回到后台">
        <i class="icon-home"></i>后台
      </a>
      <a href="#">农场管理</a>
      <a href="#" class="current">拆分率设置</a>
    </div>
  </div>
  <div class="container-fluid">
        <div class="widget-box">
          <div class="widget-title"> <span class="icon"> <i class="icon-th"></i> </span>
            <h5>编辑拆分率</h5>
            <a href=""><span class="label label-info">Featured</span></a>
          </div>
          <div class="widget-content nopadding">
            <foreach name="info" item="val">
              <form class="form-horizontal" action="__MODULE__/Farm/uploadrate" method="post" >
                <div class="control-group">
                  <label class="control-label">{$val['land_num']}块地</label>
                  <div class="controls">
                    <input name="rate" class="span3" type="text" value="{$val['rate']}">
                    <input name="lnum" class="span3" type="hidden" value="{$val['land_num']}">
                    <input value="保存" class="btn btn-success" type="submit"/>
                  </div>
                </div>
              </form>
            </foreach>
          </div>
        </div>

  </div>
</div>
</block>
