<extend name="Layout/menu"/>
<block name="content">
  <!--sidebar-menu-->
  <div id="content">
    <div id="content-header">
      <div id="breadcrumb">
        <a href="#" class="tip-bottom" data-original-title="回到后台">
          <i class="icon-home"></i>后台
        </a>
        <a href="#">系统设置</a>
        <a href="#" class="current">农场设置</a>
      </div>
    </div>
    <div class="container-fluid">
      <div class="widget-box">
        <div class="widget-title"> <span class="icon"> <i class="icon-th"></i> </span>
          <h5>最低果子数</h5>
          <a href="__MODULE__/Farm/index"><span class="label label-info">返回上一级</span></a>
        </div>
        <div class="widget-content nopadding">
          <form class="form-horizontal" method="post" action="__MODULE__/Farm/uploadlowest" name="number_validate" id="number_validate" novalidate="novalidate">
            <div class="control-group">
              <label class="control-label">用户vipid</label>
              <div class="controls">
                <input name="username" class="span3" readonly type="text" value="{$info['username']}">
                <input name="uid" class="span3" type="hidden" value="{$info['id']}">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">最低果子限额</label>
              <div class="controls">
                <input name="num" class="span3" type="number" value="{$info['lownum']}">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">说明</label>
              <div class="controls">
                <input name="content" class="span9" type="text">
              </div>
            </div>

            <div class="form-actions">
              <input value="保存" class="btn btn-success" type="submit"/>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</block>
