<extend name="Layout/menu"/>
<block name="content">
<div id="content">
  <div id="content-header">
    <div id="breadcrumb">
      <a href="#" class="tip-bottom" data-original-title="回到后台">
        <i class="icon-home"></i>后台
      </a>
      <a href="#" class="current">欢迎访问</a>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <div class="widget-box">
          <div class="widget-content">
            <div class="error_ex">
              <br> <br> <br> <br><br> <br> <br> <br>
              <h2>欢迎来到{$name}</h2>
              <br> <br> <br> <br> <br> <br> <br> <br>
              <br> <br> <br> <br><br> <br> <br> <br>
              <p>胜讯网络科技工作组 出品 2018</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row-fluid">
  <div id="footer" class="span12"></div>
</div>

<!--end-Footer-part-->
<!-- 

<script type="text/javascript">

  function goPage (newURL) {

      if (newURL != "") {
          if (newURL == "-" ) {
              resetMenu();            
          }          
          else {  
            document.location.href = newURL;
          }
      }
  }

function resetMenu() {
   document.gomenu.selector.selectedIndex = 2;
}
</script> -->
</block>
