* {
    box-sizing: border-box
}

html {
    height: 100%;
}

body {
    background-color: white;
    height: 100%;
}

.index,
.userset {
    margin-bottom: 50px;
}

h1,
h2,
h3,
h4,
h5,
h5,
h6,
ul,
p {
    margin: 0 0;
    padding: 0 0;
}

li {
    list-style: none;
}

.nav-bar {
    background: white;
    text-align: center;
    padding: 5px 0;
    font-size: 14px;
    border-bottom: 0.5px solid rgb(221, 218, 218);
}

.back {
    position: absolute;
    height: 17px;
    width: 10px;
    left: 10px;
    top: 8px;
    cursor: pointer;
    padding: 2px;
}
.btn-setpass{
    width: 52% !important;
}
.backs {
    position: absolute;
    height: 17px;
    width: 10px;
    left: 10px;
    top: 8px;
    cursor: pointer;
    padding: 2px;
}

.Dbg {
    width: 100%;
}

.bbbg {
    width: 100%;
    /*margin-top: -32px;*/
}

.Looo {
    position: absolute;
    width: 100%;
    top: 0;
}


    
.Getpass,
.Paypass,
.Adrpass {
    background: white;
}

.Logpass,
.Setpass,
.Register {
    margin-top: 40%;
    /*margin-bottom: 50%;/*/
    position: relative;
}

.Getpass form,
.Paypass form,
.Adrpass form {
    width: 94%;
    margin: 2% auto;
}


/* .Register form{
    width: 80%;
} */

.Getpass form p,
.Paypass form p .Adrpass form p {
    border-bottom: solid 1px rgb(221, 218, 218);
    margin-top: 2%;
    padding-bottom: 1.5%;
    overflow: hidden;
    position: relative;
}

.Register form p {
    overflow: hidden;
    position: relative;
    width: 100%;
    margin-top: 2%;
    border-radius: 15px;
    background:  #ef9d33;
    border: 2px solid #138620;
}

.Getpass form p img,
.Paypass form p img {
    width: 15px;
    height: 20px;
}

.Register form p img {
    width: 22px;
    height: 25px;
}

.Getpass form p input,
.Paypass form p input {
    border: none;
    font-size: 13px;
    color: rgb(168, 167, 167);
    margin-left: 2%;
    width: 180px;
}

.Register form p input {
    border: none;
    font-size: 12px;
    color: black;
    margin-left: 2%;
    width: 70%;
    background:transparent;
    border-radius: 5px;
}

#Logpasss{
    width: 55%;
    position: absolute;
    top: 36.5%;
    left: 20%;
}

#ZZhuce {
    width: 59%;
    position: absolute;
    top: 30%;
    right: 23%;
    text-align: center;
}
.orchard{
    /*position: relative;*/
}
.Paypass{
    position: absolute;
    width: 100%;
    top: 20%;
    background: transparent;
}
#Paypasss {
    position: absolute;
    top: 26%;
    width: 60%;
    left: 17%;
    text-align: center;
}

#Paypasss p{
    background-color: #ef9d33;
    margin: 5% auto;
    /*padding: 2% 0;*/
    border-radius: 10px;
     border: 2px solid #138620;
}
#Paypasss .button{
    background-color: transparent;
    margin: 0 0;
    text-align: center;
    margin-left: 20%;
    border: none;

}
#Paypasss p input{
    width: 60%;
    background-color: #ef9d33;
    text-align: center;
    color: blue;
}

#Registers {
    width: 60%;
    position: absolute;
    top:26%;
    left: 18%;
}

#Logpasss p {
    border-radius: 15px;
    background-color: #ef9d33;
    border: 2px solid #138620;
}
#ZZhuce p.vv label{
    font-family:"隶书";
    font-size: 20px;
    color: #28ab1f;
}
#ZZhuce p.vv label:nth-child(3){
    font-size: 18px;
}
#ZZhuce p:nth-child(1) {
    margin-top: -1%;
}

#Logpasss p:nth-child(2) {
    margin-top: 5%;
}

#ZZhuce p:nth-child(2) {
    margin-top: 6%;
}

#ZZhuce p:nth-child(3) {
    margin-top: 8%;
}

#Logpasss input {
    width: 75%;
    background: transparent;
    border: 2px solid transparent;
    font-size: 14px;
}

#ZZhuce input {
    width:52%;
    background: transparent;
    border: 2px solid transparent;
    font-size: 14px;
    background: rgba(202, 145, 15, 0.67);
    border-radius: 10px;
    padding: 0 2%;
}

#Logpasss p img {
    width: 8.6%;
    margin-left: 5%;
}
#Logpasss p.LLogin{
    border: none;
    background: transparent;
    text-align: center;
    margin-top: 15%;
}
#Logpasss p.LLogin img{
    width: 40%;
}




.ZZZZe {
    text-align: center;
}

.LLogin img {
    width: 40%;
}

.ZZZZe img {
    width: 38%;
}

input::-webkit-input-placeholder{
            color:#723f15;
        }
        input::-moz-placeholder{   /* Mozilla Firefox 19+ */
            color:#723f15;
        }
        input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
            color:#723f15;
        }
        input:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
            color:#723f15;
        }

/*cursor: pointer;
    background-color: rgb(135, 208, 34);
    color: white;
    border-radius: 7px;
    box-shadow: 1px -2px 3px rgb(68, 72, 68) inset;
    border: solid 1px rgb(3, 251, 157);
    padding: 4% 10%;
    font-size: 18px;
    line-height: 100%;*/
.getPhone {
    background: rgba(19, 183, 177);
    font-size: 13px;
    padding: 1.2% 2%;
    color: wheat;
    border-radius: 5px;
    cursor: pointer;
    width: 83px;
    position: absolute;
    right: 3%;
    top: 8%;
}

.getPhones {
    background: rgb(151, 149, 149);
    font-size: 13px;
    padding: 1% 4%;
    color: wheat;
    border-radius: 5px;
    width: 83px;
    position: absolute;
    right: 3.6%;
    top: 9%;
    display: none;
}

.Getpass form button,
.Paypass form button
{
    width: 94%;
    margin-left: 2%;
    margin-top: 8%;
    font-size: 14px;
    cursor: pointer;
    background-color: rgb(135, 208, 34);
    color: white;
    border-radius: 7px;
    box-shadow: 1px -2px 3px rgb(68, 72, 68) inset;
    border: solid 1px rgb(3, 251, 157);
    padding: 6% 10%;
    line-height: 100%;
}

.Register form button {
    font-size: 14px;
    border-radius: 5px;
    border: none;
}

.Register form span img {
    width: 40%;
    margin-top: 4%;
}

.tishi,
.Gtishi,
.Setishi,
.Payishi,
.Logishi,
.Adrishi {
    width: 60%;
    margin: 5% auto;
    text-align: center;
    padding: 2% 1%;
    background: rgb(231, 186, 186);
    color: black;
    display: none;
    font-size: 14px;
}

.Logimg {
    margin: 10% 3%;
    text-align: center;
    position: relative;
}

.Logimg img {
    width: 100%;
    /*display: block;*/
}

#Adrpasss {
    font-size: 14px;
    margin-top: 5%;
}

#Adrpasss p {
    margin-bottom: 3%;
}

.container {
    width: 100%;
    padding: 0 0;
    margin: 0 0;
}

.city-picker-input {
    opacity: 0 !important;
    /* top: -9999px;
    left: -9999px; */
    position: absolute;
}

.city-picker-span {
    position: relative;
    display: block;
    outline: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    color: #ccc;
    cursor: pointer;
}

.city-picker-span>.placeholder {
    color: #aaa;
}

.city-picker-span>.arrow {
    position: absolute;
    top: 50%;
    right: 8px;
    width: 10px;
    margin-top: -3px;
    height: 5px;
}

.city-picker-span.focus,
.city-picker-span.open {
    border-bottom-color: #46A4FF;
}

.city-picker-span.open>.arrow {
    background-position: -10px -10px;
}

.city-picker-span>.title>span {
    color: #333;
    padding: 5px;
    border-radius: 3px;
}

.city-picker-span>.title>span:hover {
    background-color: #f1f8ff;
}

.city-picker-dropdown {
    position: absolute;
    width: 100% !important;
    left: -9999px;
    top: -9999px;
    outline: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    z-index: 999999;
    display: none;
    margin-bottom: 20px;
}

.city-select-wrap {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
    top: 0;
}

.city-select-tab {
    border-bottom: 1px solid #ccc;
    background: #f0f0f0;
    font-size: 13px;
}

.city-select-tab>a {
    display: inline-block;
    padding: 8px 22px;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid transparent;
    color: #4D4D4D;
    text-align: center;
    outline: 0;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
    margin-bottom: -1px;
}

.city-select-tab>a.active {
    background: #fff;
    border-bottom: 1px solid #fff;
    color: #46A4FF;
}

.city-select-tab>a:first-child {
    border-left: none;
}

.city-select-tab>a:last-child.active {
    border-right: 1px solid #ccc;
}

.city-select-content {
    width: 100%;
    min-height: 10px;
    background-color: #fff;
    padding: 10px 15px;
}

.city-select {
    font-size: 13px;
}

.city-select dl {
    line-height: 2;
    clear: both;
    padding: 3px 0;
    margin: 0;
}

.city-select dt {
    position: absolute;
    width: 2.5em;
    font-weight: 500;
    text-align: right;
    line-height: 2;
}

.city-select dd {
    margin-left: 0;
    line-height: 2;
}

.city-select.province dd {
    margin-left: 3em;
}

.city-select a {
    display: inline-block;
    padding: 0 10px;
    outline: 0;
    text-decoration: none;
    white-space: nowrap;
    margin-right: 2px;
    color: #333;
    cursor: pointer;
}

.city-select a:hover,
.city-select a:focus {
    background-color: #f1f8ff;
    border-radius: 2px;
    color: #46A4FF;
}

.city-select a.active {
    background-color: #46A4FF;
    color: #fff;
    border-radius: 2px;
}

.Adrpass form p input {
    border: none;
    font-size: 12px;
    color: rgb(168, 167, 167);
    margin-left: 2%;
    width: 180px;
}

.Adrpass form p {
    border-bottom: solid 1px rgb(221, 218, 218);
    margin-top: 2%;
    padding-bottom: 1.5%;
    overflow: hidden;
    position: relative;
}

.button{
    /*border: solid 1px green;*/
    width: 60%;
    margin:  0 auto;
    margin-top: 10%l
}
.button button{
    width: 100%;
    background-color: rgb(6, 190, 6);
    color: wheat;
}