<!DOCTYPE html>
<html lang="en">

<head>
    <title>添加新地址</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="__PUBLIC__/YM/css/bootstrap.min.css">
    <script src="__PUBLIC__/YM/js/jquery.min.js"></script>
    <script src="__PUBLIC__/YM/js/popper.min.js"></script>
    <script src="__PUBLIC__/YM/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="__PUBLIC__/css/LoginZhuce.css">
</head>

<body>
    <div class="orchard">
        <p class="nav-bar">
            <img class="backs" src="__PUBLIC__/YM/fontimg/back2.png" alt=""> 添加新地址
        </p>
        <div class="Adrpass">
            <form action="" id="Adrpasss">
                <p>
                    收&nbsp; 货&nbsp; 人:
                    <input name="user" type="text" placeholder="请输入收货人姓名" required>
                </p>
                <p>
                    联系电话:
                    <input name="phone" type="text" placeholder="请输入收货人联系电话" required>
                </p>
                <p class="vip">
                    详细地址:
                    <input name="adress" type="text" placeholder="具体门牌号" required>
                </p>
                <div class="container">
                    <div class="docs-methods">
                        <form class="form-inline">
                            <div id="distpicker">
                                <div class="form-group">
                                    <div style="position: relative;">
                                        <input id="city-picker3" name="citys" class="form-control" readonly type="text" value="?/?/?" data-toggle="city-picker">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-warning" id="reset" type="button">重置</button>
                                    <button class="btn btn-danger" id="destroy" type="button">确定</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </form>
        </div>
        <div class="Adrishi">
        </div>
    </div>
</body>

<script src="__PUBLIC__/js/aa.js"></script>
<script src="__PUBLIC__/js/bb.js"></script>
<script src="__PUBLIC__/js/address.js"></script>
<script>
    $(function(){
        var backs = $(".nav-bar").find("img.backs")
        backs.click(function () {
            location.href = "../Address/chooadres";
        })
    })
</script>
</html>