<!DOCTYPE html>
<html>

<head>
    <title>index</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="__PUBLIC__/YM/css/bootstrap.min.css">
    <script src="__PUBLIC__/YM/js/jquery.min.js"></script>
    <script src="__PUBLIC__/YM/js/popper.min.js"></script>
    <script src="__PUBLIC__/YM/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/YM/js/clipboard.min.js"></script>
    <link rel="stylesheet" href="__PUBLIC__/css/index.css">
</head>

<body>
    <div class="index">
        <div id="demo" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="http://static.runoob.com/images/mix/img_fjords_wide.jpg">
                </div>
                <p class="canyu">
                    <span class="canyu-left">参与人数:</span>
                    <span class="canyu-right">
                        <a href="">进入></a>
                    </span>
                </p>
            </div>
        </div>
        <ul class="lits">
            <a href="">
                <img src="__PUBLIC__/YM/imgs/gs.png" alt="">果篮
            </a>
            <a href="">
                <img src="__PUBLIC__/YM/imgs/cd.png" alt=""> 穿戴
            </a>
            <a href="">
                <img src="__PUBLIC__/YM/imgs/kx.png" alt=""> 快消
            </a>
            <a href="">
                <img src="__PUBLIC__/YM/imgs/dz.png" alt=""> 电子
            </a>
        </ul>
        <h6 class="font-img">
            <img src="__PUBLIC__/YM/imgs/bq.png" alt=""> 新品热卖
        </h6>
        <ul class="goods">
            <!-- <a href="">
                <li>
                    <img class="goods-img" src="__PUBLIC__/YM/imgs/goods1.png" alt="">
                    <p>破多而红酒(每天限量500份)</p>
                    <span class="prize">￥:300+30代金券</span>
                    <span class="del">￥500</span>
                    <img class="add" src="__PUBLIC__/YM/imgs/add.png" alt="">
                </li>
            </a>
            <a href="">
                <li>
                    <img class="goods-img" src="__PUBLIC__/YM/imgs/goods1.png" alt="">
                    <p>破多而红酒(每天限量500份)</p>
                    <span class="prize">￥:300+30代金券</span>
                    <span class="del">￥500</span>
                    <img class="add" src="__PUBLIC__/YM/imgs/add.png" alt="">
                </li>
            </a> -->
        </ul>
        <div>
        </div>
    </div>
    <div class="dingdan">
        <p class="nav-bar">订单</p>
        <ul class="dingdan-choose">
            <li class="active">全部</li>
            <li>代付款</li>
            <li>代发货</li>
            <li>待收货</li>
        </ul>
        <div class="all-D">
            <div class="all-D-box">
                <p class="all-D-top">
                    <span>2018/02/29</span>
                    <span>交易成功</span>
                </p>
                <div class="all-D-div">
                    <img src="__PUBLIC__/YM/imgs/goods1.png" alt="">
                    <p>破多而红酒(每天限量159份)</p>
                    <p>
                        <span>￥:300+30代金券</span>
                        <span>×1</span>
                    </p>
                </div>
                <p class="coles-D">
                    <span class="removeBus">删除订单</span>
                </p>
            </div>

            <div class="all-D-box">
                <p class="all-D-top">
                    <span>2018/02/29</span>
                    <span>交易成功</span>
                </p>
                <div class="all-D-div">
                    <img src="__PUBLIC__/YM/imgs/goods1.png" alt="">
                    <p>破多而红酒(每天限量159份)</p>
                    <p>
                        <span>￥:300+30代金券</span>
                        <span>×1</span>
                    </p>
                </div>
                <p class="coles-D">
                    <span class="removeBus">删除订单</span>
                </p>
            </div>
        </div>

        <div class="give-money">
            <div class="all-D-box">
                <p class="all-D-top">
                    <span>2018/02/29</span>
                    <span>等待卖家付款</span>
                </p>
                <div class="all-D-div">
                    <img src="__PUBLIC__/YM/imgs/goods1.png" alt="">
                    <p>破多而红酒(每天限量159份)</p>
                    <p>
                        <span>￥:300+30代金券</span>
                        <span>×1</span>
                    </p>
                </div>
                <p class="coles-D">
                    <span class="removeBus">取消订单</span>
                    <span class="myPay">付款</span>
                </p>
            </div>
        </div>

        <div class="give-some">
            <div class="all-D-box">
                <p class="all-D-top">
                    <span>2018/02/29</span>
                    <span>交易成功</span>
                </p>
                <div class="all-D-div">
                    <img src="__PUBLIC__/YM/imgs/goods1.png" alt="">
                    <p>破多而红酒(每天限量159份)</p>
                    <p>
                        <span>￥:300+30代金券</span>
                        <span>×1</span>
                    </p>
                </div>
                <p class="coles-G">
                    商家正在接受中，请耐心等待！
                </p>
            </div>
        </div>

        <div class="get-bus">
            <div class="search-bud">
                搜索
            </div>
            <div class="all-D-box">
                <p class="all-D-top">
                    <span>2018/02/29</span>
                    <span>交易成功</span>
                </p>
                <div class="all-D-div">
                    <img src="__PUBLIC__/YM/imgs/goods1.png" alt="">
                    <p>破多而红酒(每天限量159份)</p>
                    <p>
                        <span>￥:300+30代金券</span>
                        <span>×1</span>
                    </p>
                </div>
                <div class="coles-Get">
                    <p>
                        <span>物流编号:1234567890123</span>
                        <span>复制</span>
                    </p>
                    <span>确认收货</span>
                </div>
            </div>
        </div>
    </div>
    <div class="nongchang">
        <p class="nav-bar">农场</p>
    </div>
    <div class="userset">
        <p class="nav-bar">个人中心</p>
        <div class="user-set">
            <img class="bg" src="__PUBLIC__/YM/userImg/bg.png" alt="">
            <div class="user-infor">
                <img src="__PUBLIC__/YM/userImg/mrtx.png" alt="">
                <div class="infor-data">
                </div>
                <a href="">></a>
            </div>
            <ul class="user-list">
                <a href="" class="few">
                    <li class="asd">
                        <img class="list-img" src="__PUBLIC__/YM/userImg/1dt.png" alt="">
                        <span class="list-low">
                            <p>土地价值</p>
                            <p>300.0</p>
                        </span>
                    </li>
                </a>
                <a href="" class="few">
                    <li>
                        <img class="list-img" src="__PUBLIC__/YM/userImg/1kc.png" alt="">
                        <span class="list-low">
                            <p>仓库库存</p>
                            <p>300.0</p>
                        </span>
                    </li>
                </a>
                <a href="" class="few">
                    <li>
                        <img class="list-img" src="__PUBLIC__/YM/userImg/1djq.png" alt="">
                        <span class="list-low">
                            <p>代金卷</p>
                            <p>300.0</p>
                        </span>
                    </li>
                </a>
            </ul>
        </div>
        <div class="user-clicks">
            <a href="__MODULE__/person/orachard">
                <img src="__PUBLIC__/YM/userImg/nchd.png" alt="">
                <p>果园互动</p>
            </a>
            <a href="__MODULE__/person/fruit">
                <img src="__PUBLIC__/YM/userImg/gzhd.png" alt="">
                <p>果子交易</p>
            </a>
            <a href="__MODULE__/person/friend">
                <img src="__PUBLIC__/YM/userImg/hy.png" alt="">
                <p>好友</p>
            </a>
            <a href="__MODULE__/person/address">
                <img src="__PUBLIC__/YM/userImg/shdz.png" alt="">
                <p>收货地址</p>
            </a>
            <a href="__MODULE__/person/extend">
                <img src="__PUBLIC__/YM/userImg/ewm.png" alt="">
                <p>推广二维码</p>
            </a>
            <a href="__MODULE__/person/rate">
                <img src="__PUBLIC__/YM/userImg/cfl.png" alt="">
                <p>昨日拆分率</p>
            </a>
            <a href="">
                <img src="__PUBLIC__/YM/userImg/znx.png" alt="">
                <p>站内信</p>
            </a>
            <a href="">
                <img src="__PUBLIC__/YM/userImg/gg.png" alt="">
                <p>公告</p>
            </a>
            <a href="__MODULE__/person/paypass">
                <img src="__PUBLIC__/YM/userImg/jymm.png" alt="">
                <p>交易密码</p>
            </a>
            <a href="__MODULE__/person/setpass">
                <img src="__PUBLIC__/YM/userImg/xgmm.png" alt="">
                <p>修改密码</p>
            </a>
            <a href="">
                <img src="__PUBLIC__/YM/userImg/kf.png" alt="">
                <p>客服</p>
            </a>
            <a href="__MODULE__/login/login">
                <img src="__PUBLIC__/YM/userImg/tc.png" alt="">
                <p>退出</p>
            </a>
        </div>
    </div>
    <footer>

    </footer>

</body>

<script src="__PUBLIC__/js/index.js"></script>


</html>