<!DOCTYPE html>
                <html lang="zh-cn">
                 <head> 
                    <title>PC端-=寄快递页面嵌入</title>
                    <link rel="stylesheet" href="http://www.kdniao.com/OutDemo/KDNWidget/KDNWidget.css" />
                 </head>
                 <body>
                      <div id="demoID"></div>
                      <script src="http://www.kdniao.com/OutDemo/KDNWidget/KDNWidget.js"></script>
                      <script>
                          window.onload = function () {
                              KDNWidget.run({
                                  "serviceType": "F",
                                  "container": "demoID"
                              })
                          }
                    </script> 
                   </body>
                </html>