<extend name="Layout/menu"/>
<block name="content">

<div id="content">
<div id="content-header">
  <div id="breadcrumb"> <div id="breadcrumb"> <a href="#" class="tip-bottom" data-original-title="回到后台"><i class="icon-home"></i> 商品管理</a> <a href="#" class="tip-bottom">商品编辑</a> <a href="#" class="current">商品编辑</a> </div>
</div>
<div class="container-fluid">
  <div class="row-fluid">
      <div class="widget-box">
        <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
          <h5>公告编辑</h5>
          <a href="__URL__/index" style="float:right"><h5>返回上一级</h5></a>
        </div>
        <div class="widget-content nopadding">
          <form action ="__MODULE__/Notice/updatenotice" method="post" class="form-horizontal" enctype="multipart/form-data" >
          
            <div class="control-group">
              <label class="control-label">公告标题</label>
              <div class="controls controls-row">
                <input type="text" placeholder="" name="title" value="{$info[title]}">
                <input type="hidden" placeholder="" name="id" value="{$info[id]}">
              </div>
            </div>

          <div class="control-group">
            <label class="control-label"><h5>公告详情</h5></label>
            <div class="row-fluid" style="width:968px;  margin:0px 20px 0px 100px;" >
              <div class="widget-box">
                <div class="widget-title" style="margin:0px 0px 0px 0px;"> <span class="icon"> <i class="icon-align-justify"></i> </span>
                  <h5>详情介绍</h5>
                </div>
                 <!-- 加载编辑器的容器 -->
                <script id="container" name="content">{$info[content]}</script>
                <!-- 配置文件 -->
                <script type="text/javascript" src="__PUBLIC__/ueditor/ueditor.config.js"></script>
                <!-- 编辑器源码文件 -->
                <script type="text/javascript" src="__PUBLIC__/ueditor/ueditor.all.js"></script>
                <!-- 实例化编辑器 -->
                <script type="text/javascript">
                    var ue = UE.getEditor('container');
                </script>
              </div>
            </div> 



            <div class="form-actions">
              <button type="submit" class="btn btn-success" style="margin:0px 0px 0px 200px">确定</button>
               <button type="reset" class="btn btn-success" style="margin:0px 0px 0px 30px">重置</button>
         </div> 
        </form>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
</div>
  <script>
    var chooseid=$("#sortchoose").attr("chooseid");
    var num=$("input[name='sort']").size();
    for(var i=0;i<=num;i++){
      if($("input[name='sort']").eq(i).val()==chooseid){
          $("input[name='sort']").eq(i).attr("checked","checked");
      }
    }
  </script>
</block>
