<!DOCTYPE html>
<html lang="en">

<head>
    <title>果子交易</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="__PUBLIC__/YM/css/bootstrap.min.css">
    <script src="__PUBLIC__/YM/js/jquery.min.js"></script>
    <script src="__PUBLIC__/YM/js/popper.min.js"></script>
    <script src="__PUBLIC__/YM/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="__PUBLIC__/css/orchard.css">
</head>

<body>
    <div class="orchard">
        <p class="nav-bar">
            <img class="back" src="__PUBLIC__/YM/fontimg/back2.png" alt=""> 推广二维码
        </p>
        <div class="user-set">
            <img class="bg" src="__PUBLIC__/YM/userImg/bg.png" alt="">
            <div class="user-infor">
                <img src="__PUBLIC__/image/userimage/{$info['faceimg']}" alt="" >
                <div class="infor-data">
                    <p>会员id:{$info['vipid']}</p>
                    <p>昵称:{$info['username']}</p>
                    <p>推荐人:{$info['referee']}</p>
                    <p>登录名:{$info['telphone']}</p>
                </div>

            </div>
        </div>
        <div class="twoma">
            <img src="__PUBLIC__/YM/orcharImg/erweima.png" alt="">
            <img class="Weichat" src="__PUBLIC__/image/recomcode/{$info['recomcode']}" alt="" aaa="{$url}">
            <p>
                <button class="Fengxiang" type="submit">分享好友</button>
            </p>
        </div>
    </div>
</body>
<script src="__PUBLIC__/js/orchard.js"></script>
<script src="__PUBLIC__/js/backthree.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"> </script>
<script>
    wx.config({
        debug: true,
        appId:'<?php echo $signPackage["appId"]; ?>' ,
        timestamp: '<?php echo $signPackage["timestamp"]; ?>',
        nonceStr: '<?php echo $signPackage["nonceStr"]; ?>',
        signature: '<?php echo $signPackage["signature"]; ?>',
        jsApiList: [
            'checkJsApi',
            'onMenuShareTimeline',
            'onMenuShareAppMessage',
            'onMenuShareQQ',
            'onMenuShareWeibo',
        ],
    })
</script>
<!--<script src="http://demo.open.weixin.qq.com/jssdk/js/api-6.1.js?ts=1420774989"> </script>-->

</html>