<!DOCTYPE html>
<html lang="en">

<head>
    <title>果子交易</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="__PUBLIC__/YM/css/bootstrap.min.css">
    <script src="__PUBLIC__/YM/js/jquery.min.js"></script>
    <script src="__PUBLIC__/YM/js/popper.min.js"></script>
    <script src="__PUBLIC__/YM/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="__PUBLIC__/css/orchard.css">
</head>

<body>
    <div class="orchard">
        <p class="nav-bar">
            <img class="back" src="__PUBLIC__/YM/fontimg/back2.png" alt=""> 果子交易
        </p>
        <ul class="three-choose two">
            <li class="active">果子交易</li>
            <li>获赠订单</li>
            <li>赠送记录</li>
        </ul>
        <div class="Div-choose" style="display: block;">
            <p class="lower">如果出售100个果子，则扣除10个手续费，本次将锁定出售的果子，无法再让 其他人购买。请确认您与接收方联系并达成买卖意愿，否则由此造成的交易 后果自己承担！
            </p>
            <div class="busesse">
                <p>转让手续费:<a class="transaction_fee">0</a></p>
                <p>滞留积分百分比:<a class="trade_exchange">0</a></p>
                <p class="Had">现有数量:<a class="Had-num">0</a></p>
                <p>
                    获赠号码:
                    <input id="ID" type="text" placeholder="请输入获赠号码" required>
                </p>
                <p>
                    转增数量:
                    <input name="number" type="text" placeholder="请输入转增数量" required>
                </p>
                <p>
                    支付密码:
                    <input type="password" placeholder="请输入支付密码" required>
                </p>
            </div>
            <a href="" class="bussOk">确认转增</a>

            <p class="Infor" style="text-align: center;display:none">1234</p>
            <p class="datt" style="text-align: center;display:none">1234</p>

        </div>
        <div class="Div-choose">
            <ul class="tee">
                <li>
                    <!-- <div class="trees orders">
                        <p>时&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;间</p>
                        <p>数&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;量</p>
                        <p>身&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;份</p>
                        <p>会&nbsp;员&nbsp;uid</p>
                        <p>昵&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;称</p> 
                        <p>更新时间</p>
                        <p>订单状态</p>
                    </div>
                    <div class="treesInfos ordersInfos">
                        <p>2018-02-22 12:34:56</p>
                        <p>300.00</p>
                        <p>被转让者</p>
                        <p>123456</p>
                        <p>你好</p>
                        <p>2018-02-22 12:34:59</p>
                        <p>交易已完成</p>
                    </div> -->
                </li>
            </ul>
        </div>
        <div class="Div-choose">
            <ul class="tee">
                <!-- <li>
                    <div class="trees">
                        <p>时&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;间</p>
                        <p>数&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;量</p>
                        <p>手&nbsp;&nbsp;续&nbsp;费</p>
                        <p>积分滞留</p>
                        <p>交易数量</p>
                        <p>身&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;份</p>
                        <p>会员uid</p>
                        <p>昵称</p>                        
                        <p>更新时间</p>
                        <p>订单状态</p>
                    </div>
                    <div class="loseinfor rembers">
                        <p>2018-02-22 78:591:44</p>
                        <p>21.60</p>
                        <p>1.80</p>
                        <p>1.80</p>
                        <p>18.00</p>
                        <p>转让者</p>
                        <p>123456</p>
                        <p>你好</p>
                        <p>2018-02-22 78:591:44</p>
                        <p>交易已完成</p>
                    </div>
                </li> -->
            </ul>
        </div>
    </div>
</body>

<script src="__PUBLIC__/js/fruit.js"></script>
<script src="__PUBLIC__/js/backthree.js"></script>

</html>