<!DOCTYPE html>
<html lang="en">

<!DOCTYPE html>
<html lang="en">

<head>
    <title>站内信列表</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="__PUBLIC__/YM/css/bootstrap.min.css">
    <script src="__PUBLIC__/YM/js/jquery.min.js"></script>
    <script src="__PUBLIC__/YM/js/popper.min.js"></script>
    <script src="__PUBLIC__/YM/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="__PUBLIC__/css/OneM.css">
</head>

<body style="background: white;">
    <div class="Notic">
        <p class="nav-bar">
            <img class="back" src="__PUBLIC__/YM/fontimg/back2.png" alt=""> 站内信列表
        </p>
        <ul class="notic-box">
            <foreach name="info" item="val">
                <li>
                    <a href="__MODULE__/Person/newsdetail?id={$val['id']}"><span>{$val['title']}</span></a>
                    <i>{$val['time']}</i>
                </li>
            </foreach>
            <!--<li>-->
                <!--<span>This is content of notic</span>-->
                <!--<i>2017-05-33</i>-->
            <!--</li>-->
            <!--<li>-->
                <!--<span>This is content of notic</span>-->
                <!--<i>2017-05-33</i>-->
            <!--</li>-->
        </ul>
    </div>
    <!-- <div class="writing">
            <input type="text" name="title" classid="1">
            <button class="Button">提交</button>
    </div> -->
</body>
<script src="__PUBLIC__/js/OneM.js"></script>
<script>
    var back = $(".nav-bar").find(".back")
    back.click(function () {
        location.href = "../Index/index?num=3";
    })

    $(function () {
        // var pid = $(".Biaoti").attr("pid");
        var cid = $("input[ name='title']").attr("classid");
        $(".Button").click(function () {
            var title =$("input[name='title']").val();
            $.ajax({
                type: "POST",
                dataType: "json",
                url: "../Person/uploadmessage",
                data: ({cid: cid, title: title}),
                success: function (result) {
                    if(result.resultCode==200){
                        alert("提交成功");
                        window.location.reload();
                    }else if(result.resultCode==300){
                        alert("提交失败");
                    }
                }
            })
        })
    })
</script>
</html>