<!DOCTYPE html>
<html lang="en">

<!DOCTYPE html>
<html lang="en">

<head>
    <title>站内信列表</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="__PUBLIC__/YM/css/bootstrap.min.css">
    <script src="__PUBLIC__/YM/js/jquery.min.js"></script>
    <script src="__PUBLIC__/YM/js/popper.min.js"></script>
    <script src="__PUBLIC__/YM/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="__PUBLIC__/css/OneM.css">
</head>

<body style="background: white;">
    <div class="Notic">
        <p class="nav-bar">
            <img class="back" src="__PUBLIC__/YM/fontimg/back2.png" alt=""> 站内信列表
        </p>
        <ul class="notic-box">
            <li>
                <span>This is content of notic</span>
                <i>2017-05-33</i>
            </li>
            <li>
                <span>This is content of notic</span>
                <i>2017-05-33</i>
            </li>
            <li>
                <span>This is content of notic</span>
                <i>2017-05-33</i>
            </li>
        </ul>
    </div>
</body>
<script src="__PUBLIC__/js/OneM.js"></script>
<script>
    var back = $(".nav-bar").find(".back")
    back.click(function () {
        location.href = "../Index/index?num=3";
    })
</script>
</html>