<!DOCTYPE html>
<html lang="en">

<!DOCTYPE html>
<html lang="en">

<head>
    <title>在线客服</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="__PUBLIC__/YM/css/bootstrap.min.css">
    <script src="__PUBLIC__/YM/js/jquery.min.js"></script>
    <script src="__PUBLIC__/YM/js/popper.min.js"></script>
    <script src="__PUBLIC__/YM/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="__PUBLIC__/css/OneM.css">
</head>

<body style="background: white;">
    <div class="Onlie">
        <p class="nav-bar">
            <img class="back" src="__PUBLIC__/YM/fontimg/back2.png" alt=""> 在线客服
        </p>
        <h5>在线客服</h5>
        <ul class="Onlie-box">
            <li>
                <a href="">客服1</a>
            </li>
            <li>
                <a href="">客服2</a>
            </li>
            <li>
                <a href="">客服3</a>
            </li>
        </ul>
    </div>
</body>
<script src="__PUBLIC__/js/OneM.js"></script>
<script src="__PUBLIC__/js/backthree.js"></script>

</html>