<!DOCTYPE html>
<html lang="en">

<!DOCTYPE html>
<html lang="en">

<head>
    <title>在线客服</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="__PUBLIC__/YM/css/bootstrap.min.css">
    <script src="__PUBLIC__/YM/js/jquery.min.js"></script>
    <script src="__PUBLIC__/YM/js/popper.min.js"></script>
    <script src="__PUBLIC__/YM/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="__PUBLIC__/css/OneM.css">
</head>

<body style="background: white;">
    <div class="Onlie">
        <p class="nav-bar">
            <img class="back" src="__PUBLIC__/YM/fontimg/back2.png" alt=""> 在线客服
        </p>
        <h5>在线客服</h5>
        <ul class="Onlie-box">
            <foreach name="list" item="val">
                <li>
                    <a href="">{$val.name}</a>
                    <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin={$val.qq}&site=qq&menu=yes">
                        <img border="0" src="http://wpa.qq.com/pa?p=2:{$val.qq}:52" alt="点击这里给我发消息" title="点击这里给我发消息"/>
                    </a>
                </li>
            </foreach>
        </ul>
    </div>
</body>
<script src="__PUBLIC__/js/OneM.js"></script>
<script src="__PUBLIC__/js/backthree.js"></script>

</html>