<!DOCTYPE html>
<html lang="en">

<head>
    <title>农场互动</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="__PUBLIC__/YM/css/bootstrap.min.css">
    <script src="__PUBLIC__/YM/js/jquery.min.js"></script>
    <script src="__PUBLIC__/YM/js/popper.min.js"></script>
    <script src="__PUBLIC__/YM/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="__PUBLIC__/css/orchard.css">
</head>

<body>
    <div class="orchard">
        <p class="nav-bar">
            <img class="back" src="__PUBLIC__/YM/fontimg/back2.png" alt=""> 果园互动
        </p>
        <ul class="three-choose one">
            <li class="active">互偷模块</li>
            <li>偷取记录</li>
            <li>被偷记录</li>
        </ul>
        <div class="Div-choose" style="display: block;">
            <ul class="U-trees">   
            </ul>
        </div>
    </div>
</body>

<script src="__PUBLIC__/js/orchard.js"></script>
<script src="__PUBLIC__/js/backthree.js"></script>

</html>