<!DOCTYPE html>
<html lang="en">

<head>
    <title>农场互动</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="__PUBLIC__/YM/css/bootstrap.min.css">
    <script src="__PUBLIC__/YM/js/jquery.min.js"></script>
    <script src="__PUBLIC__/YM/js/popper.min.js"></script>
    <script src="__PUBLIC__/YM/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="__PUBLIC__/css/orchard.css">
</head>

<body>
    <div class="orchard">
        <p class="nav-bar">
            <img class="back" src="__PUBLIC__/YM/fontimg/back2.png" alt=""> 果园互动
        </p>
        <ul class="three-choose one">
            <li class="active">互偷模块</li>
            <li>偷取记录</li>
            <li>被偷记录</li>
        </ul>
        <div class="Div-choose" style="display: block;">
            <ul class="U-trees">
                <!-- <li>
                    <img class="trees" src="__PUBLIC__/YM/orcharImg/gs_img.png" alt="">
                    <div class="treesInfo">
                        <p>昵称:13000000022 会员编号:122523</p>
                        <p>产出果实:7.5颗</p>
                        <p>产出事件:2018-03-01 02:13:50</p>
                    </div>
                    <div class="gettree">
                        <p>一键偷取</p>
                    </div>
                </li> -->
            </ul>
        </div>
        <!-- <div class="Div-choose"> -->
            <!-- <ul class="U-trees"> -->
                <!-- <li>
                    <div class="trees">
                        <p>时间</p>
                        <p>数量</p>
                        <p>信息</p>
                    </div>
                    <div class="treesInfos">
                        <p>2018-02-22 12:34:56</p>
                        <p>0.75</p>
                        <p>会员uid: 123456 昵称:15617801519</p>
                    </div>
                </li> -->
            <!-- </ul> -->
        <!-- </div> -->
        <!-- <div class="Div-choose"> -->
            <!-- <ul class="U-trees"> -->
                <!-- <li>
                    <div class="trees">
                        <p>时间</p>
                        <p>数量</p>
                        <p>信息</p>
                    </div>
                    <div class="loseinfor">
                        <p>2018-02-22 78:591:44</p>
                        <p>0.75</p>
                        <p>会员uid: 123456 昵称:你好</p>
                    </div>
                </li> -->
            <!-- </ul> -->
        <!-- </div> -->
    </div>
</body>

<script src="__PUBLIC__/js/orchard.js"></script>
<script src="__PUBLIC__/js/backthree.js"></script>

</html>