<!DOCTYPE html>
<html lang="en">

<head>
    <title>设置支付密码</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="__PUBLIC__/YM/css/bootstrap.min.css">
    <script src="__PUBLIC__/YM/js/jquery.min.js"></script>
    <script src="__PUBLIC__/YM/js/popper.min.js"></script>
    <script src="__PUBLIC__/YM/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="__PUBLIC__/css/LoginZhuce.css">
</head>

<body>
    <div class="orchard">
        <p class="nav-bar">
            <img class="back" src="__PUBLIC__/YM/fontimg/back2.png" alt=""> 设置支付密码
        </p>
        <img class="bbbg" src="__PUBLIC__/YM/farm/bbg.jpg" alt="">
        <div class="Paypass">
            <div class="Logimg">
                <img src="__PUBLIC__/YM/farm/pays.png" alt="">
                <form action="" id="Paypasss">
                    <p>
                        <img src="__PUBLIC__/YM/fontimg/q2.png" alt="">
                        <input name="pass" type="password" placeholder="请输入登录密码" required>
                    </p>
                    <p>
                        <img src="__PUBLIC__/YM/fontimg/q5.png" alt="">
                        <input name="password" type="password" placeholder="请输入6位数字" required>
                    </p>
                    <p>
                        <img src="__PUBLIC__/YM/fontimg/q5.png" alt="">
                        <input name="passwordtwo" type="password" placeholder="请再输入支付密码" required>
                    </p>
                    <p class="button">
                        <button type="submit" class="paypass">提交</button>
                    </p>
                </form>
            </div>

        </div>
          <div class="Payishi">
        </div>
    </div>
</body>
<script src="__PUBLIC__/js/LoginZhuce.js"></script>
<script src="__PUBLIC__/js/backthree.js"></script>

</html>