<!DOCTYPE html>
<html lang="en">

<!DOCTYPE html>
<html lang="en">

<head>
    <title>好友</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="__PUBLIC__/YM/css/bootstrap.min.css">
    <script src="__PUBLIC__/YM/js/jquery.min.js"></script>
    <script src="__PUBLIC__/YM/js/popper.min.js"></script>
    <script src="__PUBLIC__/YM/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="__PUBLIC__/css/orchard.css">
</head>

<body>
    <div class="orchard">
        <p class="nav-bar">
            <img class="back" src="__PUBLIC__/YM/fontimg/back2.png" alt=""> 昨日拆分率
        </p>
        <div class="user-set">
            <img class="bg" src="__PUBLIC__/YM/userImg/bg.png" alt="">
            <div class="user-infor Rate-div">
                <img src="__PUBLIC__/image/userimage/{$info.faceimg}" alt="">
                <div class="infor-data">
                    <p>会员id: {$info.vipid}</p>
                    <p>昵称: {$info.username}</p>
                    <p>推荐人: {$info.referee}</p>
                    <p>登录名: {$info.telphone}</p>
                </div>
            </div>
            <div class="Rate">
                <a class="Rate-infor" href="">拆分率明细</a>
                <ul>
                    <li>
                        <p class="Rate-top">
                            <span>12.22%</span>
                            <span style="text-align: right;">18-02-26 11:78:99</span>
                        </p>
                        <p>备注:当前拆分率</p>
                    </li>
                    <li>
                        <p class="Rate-top">
                            <span>12.22%</span>
                            <span style="text-align: right;">18-02-26 11:78:99</span>
                        </p>
                        <p>备注:当前拆分率</p>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</body>
<script src="__PUBLIC__/js/orchard.js"></script>
<script src="__PUBLIC__/js/backthree.js"></script>

</html>