<!DOCTYPE html>
<html lang="en">

<head>
    <title>设置登录密码</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="__PUBLIC__/YM/css/bootstrap.min.css">
    <script src="__PUBLIC__/YM/js/jquery.min.js"></script>
    <script src="__PUBLIC__/YM/js/popper.min.js"></script>
    <script src="__PUBLIC__/YM/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="__PUBLIC__/css/LoginZhuce.css">
</head>

<body>
    <div class="Dbg">
        <img class="bbbg" src="__PUBLIC__/YM/farm/bbg.jpg" alt="">
        <div class="orchard Looo">
            <p class="nav-bar">
                <img class="back" src="__PUBLIC__/YM/fontimg/back2.png" alt=""> 设置登录密码
            </p>
            <div class="Setpass">
                <div class="Logimg">
                    <img src="__PUBLIC__/YM/farm/xiuxiu.png" alt="">
                </div>
                <form action="" id="ZZhuce">
                    <p class="vv">
                        <label>旧&nbsp;&nbsp;密&nbsp;&nbsp;码</label>
                        <input name="phone" type="text" placeholder="请输入旧密码" required>
                    </p>
                    <p class="vv">
                        <label>新&nbsp;&nbsp;密&nbsp;&nbsp;码</label>
                        <input name="pass" type="password" placeholder="请输入新密码" required>
                    </p>
                    <p class="vv">
                        <label>确认密码</label>
                        <input name="qpass" type="password" placeholder="再次输入新密码" required>
                    </p>
                    <p class="ZZZZe">
                        <a href="__MODULE__/login/index">
                            <img class="" src="__PUBLIC__/YM/farm/login.png" alt="">
                        </a>
                        <img class="btn-setpass" src="__PUBLIC__/YM/farm/qqq.png" alt="">
                    </p>
                </form>
                <div style="display: none;position: absolute;left: 20%;" class="Setishi">
                </div>
            </div>

        </div>
    </div>
</body>
<script src="__PUBLIC__/js/LoginZhuce.js"></script>
<script src="__PUBLIC__/js/backthree.js"></script>
</html>