<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>农场</title>
    <link rel="stylesheet" href="__PUBLIC__/fcs/bootstrap.min.css">
    <script src="__PUBLIC__/fjs/jquery.min.js"></script>
    <script src="__PUBLIC__/fjs/popper.min.js"></script>
    <script src="__PUBLIC__/fjs/bootstrap.min.js"></script>
    <link rel="stylesheet" href="__PUBLIC__/fcs/Orchars.css">
</head>

<body>
    <div id="demo" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="Q" src="__PUBLIC__/img/bg.jpg">
            </div>
        </div>
    </div>
    <div class="TwoBG">
        <div class="top">
            <img class="q" src="__PUBLIC__/img/top.png" alt="">
            <img class="w1" src="__PUBLIC__/img/shengzi.png" alt="">
            <img class="w2" src="__PUBLIC__/img/shengzi.png" alt="">
            <img class="w3" src="__PUBLIC__/img/shengzi.png" alt="">
            <div class="user">
                <div class="user-left">
                    <div class="u1">
                        <img class="ut" src="__PUBLIC__/img/shouyi.png" alt="">
                        <img class="uu" src="__PUBLIC__/img/dad.png" alt="">
                    </div>
                    <div class="u2">
                        <p class="uname">{$uinfo['username']}</p>
                        <p class="u3">果子
                            <span class="box">
                                <span>{$info['fruit']}</span>
                            </span>
                        </p>
                        <p class="u3">&nbsp;&nbsp;&nbsp;&nbsp;券
                            <span class="box">
                                <span>{$info['voucher']}</span>
                            </span>
                        </p>
                    </div>
                </div>
                <img class="u6" src="__PUBLIC__/img/shouyi.png" alt="">
            </div>


        </div>
        <ul class="mid">
            <img class="house" src="__PUBLIC__/img/house.png" alt="">
            <div class="tudiD">
                <p>
                    <img class="cao" src="__PUBLIC__/img/ddd.png" alt="">
                    <img class="htudi" src="__PUBLIC__/img/af.png" alt="">
                    <img class="tree" src="__PUBLIC__/img/tree.png" alt="">
                    <img class="trees" src="__PUBLIC__/img/trees.png" alt="">
                </p>
                <p>
                    <img class="cao" src="__PUBLIC__/img/ddd.png" alt="">
                    <img class="htudi" src="__PUBLIC__/img/af.png" alt="">
                    <img class="tree" src="__PUBLIC__/img/tree.png" alt="">
                    <img class="trees" src="__PUBLIC__/img/trees.png" alt="">
                </p>
                <p>
                    <img class="cao" src="__PUBLIC__/img/ddd.png" alt="">
                    <img class="htudi" src="__PUBLIC__/img/af.png" alt="">
                    <img class="tree" src="__PUBLIC__/img/tree.png" alt="">
                    <img class="trees" src="__PUBLIC__/img/trees.png" alt="">
                </p>
                <p>
                    <img class="cao" src="__PUBLIC__/img/ddd.png" alt="">
                    <img class="htudi" src="__PUBLIC__/img/af.png" alt="">
                    <img class="tree" src="__PUBLIC__/img/tree.png" alt="">
                    <img class="trees" src="__PUBLIC__/img/trees.png" alt="">
                </p>
                <p>
                    <img class="cao" src="__PUBLIC__/img/ddd.png" alt="">
                    <img class="htudi" src="__PUBLIC__/img/af.png" alt="">
                    <img class="tree" src="__PUBLIC__/img/tree.png" alt="">
                    <img class="trees" src="__PUBLIC__/img/trees.png" alt="">
                </p>
                <p>
                    <img class="cao" src="__PUBLIC__/img/ddd.png" alt="">
                    <img class="htudi" src="__PUBLIC__/img/af.png" alt="">
                    <img class="tree" src="__PUBLIC__/img/tree.png" alt="">
                    <img class="trees" src="__PUBLIC__/img/trees.png" alt="">
                </p>
                <p>
                    <img class="cao" src="__PUBLIC__/img/ddd.png" alt="">
                    <img class="htudi" src="__PUBLIC__/img/af.png" alt="">
                    <img class="tree" src="__PUBLIC__/img/tree.png" alt="">
                    <img class="trees" src="__PUBLIC__/img/trees.png" alt="">
                </p>
                <p>
                    <img class="cao" src="__PUBLIC__/img/ddd.png" alt="">
                    <img class="htudi" src="__PUBLIC__/img/af.png" alt="">
                    <img class="tree" src="__PUBLIC__/img/tree.png" alt="">
                    <img class="trees" src="__PUBLIC__/img/trees.png" alt="">
                </p>
                <p>
                    <img class="cao" src="__PUBLIC__/img/ddd.png" alt="">
                    <img class="htudi" src="__PUBLIC__/img/af.png" alt="">
                    <img class="tree" src="__PUBLIC__/img/tree.png" alt="">
                    <img class="trees" src="__PUBLIC__/img/trees.png" alt="">
                </p>
                <p>
                    <img class="cao" src="__PUBLIC__/img/ddd.png" alt="">
                    <img class="htudi" src="__PUBLIC__/img/af.png" alt="">
                    <img class="tree" src="__PUBLIC__/img/tree.png" alt="">
                    <img class="trees" src="__PUBLIC__/img/trees.png" alt="">
                </p>
                <p>
                    <img class="cao" src="__PUBLIC__/img/ddd.png" alt="">
                    <img class="htudi" src="__PUBLIC__/img/af.png" alt="">
                    <img class="tree" src="__PUBLIC__/img/tree.png" alt="">
                    <img class="trees" src="__PUBLIC__/img/trees.png" alt="">
                </p>
                <p>
                    <img class="cao" src="__PUBLIC__/img/ddd.png" alt="">
                    <img class="htudi" src="__PUBLIC__/img/af.png" alt="">
                    <img class="tree" src="__PUBLIC__/img/tree.png" alt="">
                    <img class="trees" src="__PUBLIC__/img/trees.png" alt="">
                </p>
                <p>
                    <img class="cao" src="__PUBLIC__/img/ddd.png" alt="">
                    <img class="htudi" src="__PUBLIC__/img/af.png" alt="">
                    <img class="tree" src="__PUBLIC__/img/tree.png" alt="">
                    <img class="trees" src="__PUBLIC__/img/trees.png" alt="">
                </p>
                <p>
                    <img class="cao" src="__PUBLIC__/img/ddd.png" alt="">
                    <img class="htudi" src="__PUBLIC__/img/af.png" alt="">
                    <img class="tree" src="__PUBLIC__/img/tree.png" alt="">
                    <img class="trees" src="__PUBLIC__/img/trees.png" alt="">
                </p>
                <p>
                    <img class="cao" src="__PUBLIC__/img/ddd.png" alt="">
                    <img class="htudi" src="__PUBLIC__/img/af.png" alt="">
                    <img class="tree" src="__PUBLIC__/img/tree.png" alt="">
                    <img class="trees" src="__PUBLIC__/img/trees.png" alt="">
                </p>
                <p>
                    <img class="cao" src="__PUBLIC__/img/ddd.png" alt="">
                    <img class="htudi" src="__PUBLIC__/img/af.png" alt="">
                    <img class="tree" src="__PUBLIC__/img/tree.png" alt="">
                    <img class="trees" src="__PUBLIC__/img/trees.png" alt="">

                </p>
            </div>
            <img class="rive" src="__PUBLIC__/img/rive.png" alt="">
        </ul>
    </div>
    <div class="alert">
        <div class="jiaoyi">
            <img class="asdaq" src="__PUBLIC__/img/jiaoyi.png" alt="">
            <div class="J-con">
                <p>
                    <img src="__PUBLIC__/img/grfejkbg.png" alt="">
                </p>
                <form action="">
                    <label for="">459466545665</label>
                    <input name="gg" type="text">
                    <label for="">ewwopfjkqw</label>
                    <input name="money" type="text">
                    <p>
                        <button type="submit">确认</button>
                    </p>
                </form>

            </div>
        </div>
    </div>
    <div class="footer">
        <ul>
            
            
            <li>
                <img src="__PUBLIC__/img/f3.png" alt="">
            </li>
            <li>
                <img src="__PUBLIC__/img/f4.png" alt="">
            </li>
            <li>
                <img src="__PUBLIC__/img/f2.png" alt="">
            </li>
            <li>
                <img src="__PUBLIC__/img/f5.png" alt="">
            </li>
            <li>
                <img src="__PUBLIC__/img/f1.png" alt="">
            </li>
        </ul>
        <div class="fbg">
            <img src="__PUBLIC__/img/footer.png" alt="">
        </div>
    </div>
</body>
<script src="__PUBLIC__/fjs/Orchars.js"></script>

</html>