<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>PaysApi支付</title>
    <style type="text/css">
        .choosepay{
            text-align: center;
            font-size: 40px;
        }
        .radio{
            margin:5% 5%;
            width:30%;
            font-size: 35px;
            display:none;
        }
        #demoBtn1{
            margin:5% 30%;
            width:30%;
            height:20%;
            background: orange;
            font-size: 35px;
            padding: 3%;
        }
        #demo1-weixin{
            font-size: 30px;
        }
        .youhui{
            font-size: 30px;
            margin: 0 5%;
        }

    </style>
</head>
<body>
<form>
    <div class="choosepay">选择支付</div>
<div class="pay" pid="{$info['pid']}" isstyle="{$info['istype']}" num="{$info['num']}">
    <div class="radio" id="wxpay">
        <label>
            <p><input type="radio" name="pays" id="demo1-weixin" value="2" checked="">
                微信支付</p>
        </label>
    </div>

    <div class="radio" id="alipay">
        <label>
            <p><input type="radio" name="pays" id="demo1-alipay" value="1"  >
                支付宝支付</p>
        </label>
    </div>

    <div class="radio" id="djq">
        <label>
            <p><input type="radio" name="pays" id="demo1-daijinquan" value="3"  >
                代金券支付</p>
        </label>
    </div>
</div>
    <span class="youhui">价格：{$info['num']}</span>
    <!-- <span class="youhui">优惠券：{$info['voucher']}</span> -->
    <button type="button" id="demoBtn1">确认购买</button>
</form>



<form style='display:none;' id='formpay' name='formpay' method='post' action='https://pay.paysapi.com'>
    <input name='goodsname' id='goodsname' type='text' value='' />
    <input name='istype' id='istype' type='text' value='' />
    <input name='key' id='key' type='text' value=''/>
    <input name='notify_url' id='notify_url' type='text' value=''/>
    <input name='orderid' id='orderid' type='text' value=''/>
    <input name='orderuid' id='orderuid' type='text' value=''/>
    <input name='price' id='price' type='text' value=''/>
    <input name='return_url' id='return_url' type='text' value=''/>
    <input name='uid' id='uid' type='text' value=''/>
    <input type='submit' id='submitdemo1'>
</form>

<!-- Jquery files -->
<script type="text/javascript" src="https://cdn.staticfile.org/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript">

    $().ready(function(){
        var ispay= $(".pay").attr("isstyle");
        var pid=$(".pay").attr("pid");
        var num=$(".pay").attr("num");
        if(ispay==1){
            $("#alipay").hide();
            $("#wxpay").show();
            $("#djq").show();
        }else{
            $("#alipay").show();
            $("#wxpay").show();
            $("#djq").show();
        }
        function getistype(){
            return ($("#demo1-alipay").is(':checked') ? "1" : "2" );
        }
        $("#demoBtn1").click(function(){
        var list= $('input:radio[name="pays"]:checked').val();
        	if(list==3){
        		$.ajax({
                    type: "POST",
                    dataType: "json",
                    url: "../Onemoney/lootgoods",
                    data: ({amount:num,pid:pid}),
                    success: function (result) {
                        if (result.resultCode== 200 ) {
                            alert("参与成功");
                        window.location.href="../Onemoney/onemoney";    
                //             
                //             $(".OneMoney").find(".O-alert").remove();
                //             $(".yinum"+a).html(result.num);
                //             $(".yinum"+a).parents(".Duo-div").find(".numa").html(result.anum);
                //             if(result.num>=result.total){
                //                 $(".yinum"+a).parents(".Duo-div").siblings(".Oget").remove();
                //                 $(".yinum"+a).parents(".Duo-div").siblings(".Odtime").remove();
                //                 $(".yinum"+a).parents(".Duo-div").siblings(".Ogetasdf").show();
                //                 $(".yinum"+a).parents(".Duo-div").siblings(".Onegetasdf").show();
                //             }
                        }else if(result.resultCode == 300){
                            $(".OneMoney").find(".O-alert").remove();
                            alert("抢购数量超出");
                        }else if(result.resultCode == 400){
                            $(".OneMoney").find(".O-alert").remove();
                            alert("参与失败");
                        }else if(result.resultCode == 500){
                            $(".OneMoney").find(".O-alert").remove();
                            alert("果子数不能为0");
                        }else if(result.resultCode == 600){
                            $(".OneMoney").find(".O-alert").remove();
                            alert("果子数不能小于0");
                        }
                    },
                    error: function (err) {
                        console.log(err.statusText);
                    }
                });
        	}else{
        		$.post(
                "../Payone/payone",
                {
                    num : num,
                    istype : list,
                    pid : pid,
                },
                function(data){
                    if (data.code > 0){
                        $("#goodsname").attr("value",data.data.goodsname);
                        $("#istype").attr("value",data.data.istype);
                        $('#key').attr("value",data.data.key);
                        $('#notify_url').attr("value",data.data.notify_url);
                        $('#orderid').attr("value",data.data.orderid);
                        $('#orderuid').attr("value",data.data.orderuid);
                        $('#price').attr("value",data.data.price);
                        $('#return_url').attr("value",data.data.return_url);
                        $('#uid').attr("value",data.data.uid);
                        $('#submitdemo1').click();
                    } else {
                        alert(data.msg);
                    }
                }, "json"
            );
        	}
            
        });
    });
</script>
</body>
</html>