<!DOCTYPE html>
<html>

<head>
    <title>购物车</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../YM/css/bootstrap.min.css">
    <script src="../YM/js/jquery.min.js"></script>
    <script src="../YM/js/popper.min.js"></script>
    <script src="../YM/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../stylecss/OneM.css">
</head>

<body>
    <div class="Onlie">
        <p class="nav-bar">
            <img class="back" src="../YM/fontimg/back2.png" alt=""> 购物车
        </p>
        <ul>
            <li lia="off">
                <p class="checkbox" a="off"></p>
                <img class="gg" src="../YM/imgs/tx.png" alt="">
                <div>
                    <p>
                        <span>破多而红酒(每天限量500份)</span>
                        <img src="../YM/fontimg/bj.png" alt="">
                    </p>
                    <p>
                        <span>￥:
                            <small class="prize">300</small> +30代金券
                        </span>
                        <i>×1</i>
                    </p>
                </div>
            </li>
            <li lia="off">
                <p class="checkbox" a="off"></p>
                <img class="gg" src="../YM/imgs/tx.png" alt="">
                <div>
                    <p>
                        <span>破多而红酒(每天限量500份)</span>
                        <img src="../YM/fontimg/bj.png" alt="">
                    </p>
                    <p>
                        <span>￥:
                            <small class="prize">300</small> +30代金券
                        </span>
                        <i>×1</i>
                    </p>
                </div>
            </li>
            <li lia="off">
                <p class="checkbox" a="off"></p>
                <img class="gg" src="../YM/imgs/tx.png" alt="">
                <div>
                    <p>
                        <span>破多而红酒(每天限量500份)</span>
                        <img src="../YM/fontimg/bj.png" alt="">
                    </p>
                    <p>
                        <span>￥:
                            <small class="prize">300</small> +30代金券
                        </span>
                        <i>×1</i>
                    </p>
                </div>
            </li>
        </ul>
    </div>
    <div class="all-check">
        <p class="allcheckbox" a="off"></p>
        <span class="alala">全选</span>
        <p class="maidan">
            <span>合计:￥0</span>
            <span class="maiOk">结算(0)</span>
        </p>
    </div>
</body>

<script src="../javascript/OneM.js"></script>



</html>