<!DOCTYPE html>
<html>

<head>
    <title>购物车</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="__PUBLIC__/YM/css/bootstrap.min.css">
    <script src="__PUBLIC__/YM/js/jquery.min.js"></script>
    <script src="__PUBLIC__/YM/js/popper.min.js"></script>
    <script src="__PUBLIC__/YM/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="__PUBLIC__/css/OneM.css">
</head>

<body>
    <div class="Onlie">
        <p class="nav-bar id="asd">
            <img class="back" src="__PUBLIC__/YM/fontimg/back2.png" alt=""> 购物车
        </p>
        <ul>
            <foreach name="list" item="val">
                <li class="shopcarlist" lia="off" cid="{$val.cid}">
                    <p class="checkbox" a="off" cid="{$val.cid}" GoodId="{$val.pid}" GoodsNum="{$val.amount}"></p>
                    <img class="gg" src="__PUBLIC__/image/goods/{$val.image}" alt="">
                    <div class="div-nums">
                        <p style="margin:0 0 5% 0;">
                            <span>{$val.pname}</span>
                            <img class="deletecar" style="width:6%" src="__PUBLIC__/YM/fontimg/sc.png" alt="">
                        </p>
                        <p>
                            <span class="pricevoucher">￥:
                                <small class="prize">{$val.price}</small> +
                                <small class="voucher">{$val.voucher}</small>代金券
                            </span>
                            <i class="goodsnums" total="{$val.total}">
                                <span class="jian" style="width:20px;border:1px solid #bb84ff;padding:0 5px;background:#bb84ff;color:white">-</span>
                                <span class="gnum" style="width:25px;border:1px solid #b1fffa;">{$val.amount}</span>
                                <span class="jia" style="width:20px;border:1px solid #bb84ff;padding:0 5px;background:#bb84ff;color:white">+</span>
                            </i>
                        </p>
                    </div>
                </li>
            </foreach>
        </ul>
    </div>
    <div class="all-check">
        <p class="allcheckbox" a="off"></p>
        <span class="alala">全选</span>
        <p class="maidan">
            <span>合计:￥</span>
            <span class="maip" id="maimaip">
            0.00</span>
            <span></span>
            <span>代金券:</span>
            <span class="daijinquan" id="daijinquan">
            0</span>

            
            <span class="maiOk" ccc="1231">结算</span>
        </p>
    </div>
</body>
<script src="__PUBLIC__/js/OneM.js"></script>
<script src="__PUBLIC__/js/address.js"></script>
<script type="text/javascript">
    $("#asd").find(".back").click(function(){
        location.href = "../Index/index";
    })
</script>
</html>