<!DOCTYPE html>
<html>

<head>
    <title>购物车</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="__PUBLIC__/YM/css/bootstrap.min.css">
    <script src="__PUBLIC__/YM/js/jquery.min.js"></script>
    <script src="__PUBLIC__/YM/js/popper.min.js"></script>
    <script src="__PUBLIC__/YM/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="__PUBLIC__/css/OneM.css">
</head>

<body>
    <div class="Onlie">
        <p class="nav-bar id="asd">
            <img class="back" src="__PUBLIC__/YM/fontimg/back2.png" alt=""> 购物车
        </p>
        <ul>
            <foreach name="list" item="val">
                <li lia="off" cid="{$val.cid}">
                    <p class="checkbox" a="off" cid="{$val.cid}" GoodId="{$val.pid}" GoodsNum="{$val.amount}"></p>
                    <img class="gg" src="__PUBLIC__/image/goods/{$val.image}" alt="">
                    <div>
                        <p>
                            <span>{$val.pname}</span>
                            <img src="__PUBLIC__/YM/fontimg/bj.png" alt="">
                        </p>
                        <p>
                            <span>￥:
                                <small class="prize">{$val.price}</small> +
                                <small class="voucher">{$val.voucher}</small>代金券
                            </span>
                            <i>
                                <a>x</a>
                                <a class="gnum">{$val.amount}</a>
                            </i>
                        </p>
                    </div>
                </li>
            </foreach>
        </ul>
    </div>
    <div class="all-check">
        <p class="allcheckbox" a="off"></p>
        <span class="alala">全选</span>
        <p class="maidan">
            <span>合计:￥</span>
            <span class="maip" id="maimaip">
            0.00</span>
            <span>+</span>
            <span class="daijinquan" id="daijinquan">
            0</span>
             <span>代金券</span>
            
            <span class="maiOk" ccc="1231">结算</span>
        </p>
    </div>
</body>
<script src="__PUBLIC__/js/OneM.js"></script>
<script type="text/javascript">
    $("#asd").find(".back").click(function(){
        location.href = "../Index/index";
    })
</script>
</html>