<extend name="Layout/menu"/>
<block name="content">

<div id="content">
  <div id="content-header">
    <div id="breadcrumb"> 
      <a href="#" class="tip-bottom" data-original-title="回到后台">
        <i class="icon-home"></i>后台
      </a> 
      <a href="#">用户管理</a> 
      <a href="#" class="current">我的信息</a> 
    </div>
  </div>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <div class="widget-box">
          <div class="widget-title"> <span class="icon"><i class="icon-th"></i></span>
            <h5>网站管理员</h5>
          </div>
          <div class="widget-content nopadding">
            <table class="table table-bordered data-table">
              <thead>
                <tr>
                  <th>编号</th>
                  <th>用户名</th>
                  <th>职务</th>
                  <th>操作</th>
                </tr>
              </thead>
              <tbody>
                <foreach name="list" item="vo">
                  <tr class="gradeC">                 
                    <td style="text-align:center;">{$list[0][id]}</td>
                    <td style="text-align:center;">{$list[0][username]}</td>
                    <td style="text-align:center;">
                      <if condition="$list[0]['statu'] eq 1 "> 
                          一级管理员
                      <else/>
                          二级管理员
                      </if>
                    </td>
                    <td class="center">
                      <div style="text-align:center;">
                        <a href="__MODULE__/User/edit">编辑 /</a>
                        <a href="__MODULE__/User/editpassword">修改密码</a>
                      </div>
                    </td>
                  </tr>
                </foreach>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</block>
