<extend name="Layout/menu"/>
<block name="content">
<div id="content">
  <div id="content-header">
    <div id="breadcrumb"> 
      <a href="#" class="tip-bottom" data-original-title="回到后台"><i class="icon-home"></i>后台</a> 
      <a href="#" class="tip-bottom">用户中心</a> 
      <a href="#" class="current">编辑管理员</a> 
    </div>
  </div>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span6">
        <div class="widget-box">
          <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
            <h5>编辑管理员信息</h5>
          </div>
          <div class="widget-content nopadding">
            <form action="__MODULE__/User/editname" method="post" class="form-horizontal">
              <div class="control-group">
                <label class="control-label">管理员名</label>
                <div class="controls">
                  <input type="text" name="username" class="span11" value="{$list[0][username]}" placeholder="输入要修改的管理员名"/>
                </div>
              </div>
              <div class="form-actions">
                <button type="reset" class="btn btn-success">重置</button> 
                <button type="submit" class="btn btn-success">修改</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="span6">
      </div>
    </div>
  </div>
</div>
</block>
