<extend name="Layout/menu"/>
<block name="content">
  <div id="content">
    <div id="content-header">
      <div id="breadcrumb">
        <a href="#" class="tip-bottom" data-original-title="回到后台">
          <i class="icon-home"></i>后台
        </a>
        <a href="#">用户管理</a>
        <a href="#" class="current">网站用户</a>
      </div>
    </div>
    <div class="container-fluid" style="text-align:center;">
      <div class="row-fluid">
        <div class="span12">
          <div class="widget-box">
            <div class="widget-title"> <span class="icon"> <i class="icon-th"></i> </span>
              <h5>用户数量:{$tot}</h5>
              <a href="__MODULE__/User/useradd"><span class="label label-info">添加用户</span></a>
            </div>
            <form action="__MODULE__/User/userList" method="get">
              <div class="widget-content nopadding">
                <div style="height:50px;">
                  <div style="float:left; margin:12px 0 0 30px;font:18px 微软雅黑;">搜索:</div>
                  <input type="text" class="span3" name="username" style=" margin:10px 10px;float:left;" value="{$Think.get.username}" />
                  <div style="float:left; margin:2px 0 0 10px;font:18px 微软雅黑;">
                    <input type="submit" value="查询" style="width:60px; margin:10px 0; background:lightgray;">
                  </div>
                </div>
              </div>
            </form>
            <div class="widget-content nopadding">
              <table class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>vipid</th>
                  <th>会员头像</th>
                  <th>会员昵称</th>
                  <th>会员电话</th>
                  <th>用户性别</th>
                  <th>真实姓名</th>
                  <th>推荐人号码</th>
                  
                  <th>支付账号</th>
                  <th>注册时间</th>
                  <th>状态</th>
                  <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <foreach name="list" item="val">
                  <tr class="odd gradeX">
                    <td>{$val.vipid}</td>
                    <td><img src="__PUBLIC__/image/userimage/{$val.faceimg}" style="width:30px;"/></td>
                    <td>{$val.username}</td>
                    <td>{$val.telphone}</td>
                    <td>{$val.sex}</td>
                    <td>{$val.realname}</td>
                    <td>{$val.referee}</td>
                    
                    <td>{$val.alipay}</td>
                    <td>{$val.registime}</td>
                    <td class="jinyong" id="{$val.id}" sid="{$val.statu}">{$val.status}</a></td>
                    <td>
                        <a href="__MODULE__/User/edituser?id={$val.id}">修改</a>|
                        <a href="__MODULE__/User/deleteuser?id={$val.id}">删除</a>
                    </td>
                  </tr>
                </foreach>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    {$pageinfo}
  </div>
  <script>
  $(function() {
  $(".jinyong").css("cursor", "pointer");
  $(".jinyong").click(function () {
  var pid = $(this).attr("id");
  var sid = $(this).attr("sid");
  var here = $(this);
  var order = $(this).text();
  // console.log(pid);
  // console.log(sid);
  // console.log(here);
  // console.log(order);
  $.post("__MODULE__/User/disable", {id: pid, sid: sid}, function (data) {
  if (data == 1) {
  if (order == '禁用') {
    here.text('解禁');
    here.attr("sid",'1');
  } else {
    here.text('禁用');
    here.attr("sid",'0');
  }
  }
  }, "text");
  })
  });
  </script>
</block>
